 .plot-space {
     height: 500px;
     width: 100%;
     /*display: block;*/
     border: 1px black dashed;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .error-msg {
    position: relative;
    color: red;
    text-align: center;
    font-weight: 600;
}

 .error-msg::before {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    content: "\274c";
    font-size: 12px;
    color: red;
}

 .loading::after{
    content: "";
    box-sizing: border-box;
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: blue transparent transparent transparent;
}

 .loading {
    position: relative;
}

 .loading::after:nth-child(1) {
    animation-delay: -0.45s;
}
 .loading::after:nth-child(2) {
    animation-delay: -0.3s;
}
 .loading::after:nth-child(3) {
    animation-delay: -0.15s;
}
 @keyframes lds-ring {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }
